@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --cor1: #EFD9C6;
    --cor2: #F1C5A7;
    --cor3: #E99419;
    --cor4: #105186;
    
}

/*   ELEMENTOS DE INTERFACE   */

body {
    background-image: linear-gradient(var(--cor1), var(--cor2));
    background-attachment: fixed;
}

main{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.378);
    max-width: 80vw;
    margin: auto;
}

section, article, aside {
    background-color: #f2f2f2;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 10px;

}

h1 {
    color: var(--cor3);
    margin: 0 0 10px 0;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: var(--cor4);
    margin: 0 0 10px 0;
}

p {
    text-align: justify;
    text-indent: 1em;
    line-height: 1.5em;
    font-size: 1.3em;
}

a {
    color: var(--cor3);
    text-decoration: none;
    padding: 0 3px;
    font-weight: 600;
}

a:hover {
    color: #cb8017;
    border-bottom: .5px solid #cb8017;
}